<%= form_for(@cliente, html: {role: "form"}) do |f| %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% @cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :dni, "DNI" %>
    <div class="col-lg-2">
      <%= f.number_field :dni, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :apellido %>
    <div class="col-lg-4">
      <%= f.text_field :apellido, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :nombre %>
    <div class="col-lg-4">
      <%= f.text_field :nombre, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :telefono %>
    <div class="col-lg-3">
      <%= f.text_field :telefono, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <div class="col-lg-3">
      <%= f.text_field :email, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :domicilio %>
    <div class="col-lg-5">
      <%= f.text_field :domicilio, :class => "form-control" %>
    </div>
  </div>
  <%= f.submit :value => "Guardar",  :class => "btn btn-primary" %>
<% end %>
