<div class="page-header"><h4>Cliente</h4></div>

<ul class="nav nav-pills">
  <li role="presentation"><%= link_to 'Editar', edit_cliente_path(@cliente) %></li>
  <li role="presentation"><%= link_to 'Volver', clientes_path %></li>
</ul>

<br/>

<p>
  <strong>DNI:</strong>
  <%= @cliente.dni %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @cliente.apellido %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @cliente.nombre %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @cliente.telefono %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cliente.email %>
</p>

<p>
  <strong>Domicilio:</strong>
  <%= @cliente.domicilio %>
</p>