<%= form_for(@seccion, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @seccion.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@seccion.errors.count, "error") %> prohibited this seccion from being saved:</h4>
      <ul>
      <% @seccion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nombre, class: "col-sm-1 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :nombre, class: "form-control", required: true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :subestacion_id, "Subestación", class: "col-sm-1 control-label" %>
    <div class="col-sm-5">
      <%= f.collection_select :subestacion_id, Subestacion.all, :id, :to_s, {prompt: false}, {:class => "form-control"} %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-10">
      <%= f.submit value: "Guardar", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
