<%= form_for(@seccion) do |f| %>
  <% if @seccion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seccion.errors.count, "error") %> prohibited this seccion from being saved:</h2>

      <ul>
      <% @seccion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :subestacion_id %><br>
    <%= f.text_field :subestacion_id, :class => "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit :value => "Guardar", :class => "btn btn-primary"%>
  </div>
<% end %>
