<%= form_for(@seccion, html: {role: "form", class: "form-horizontal"}) do |f| %>
  <% if @seccion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seccion.errors.count, "error") %> prohibited this seccion from being saved:</h2>

      <ul>
      <% @seccion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nombre, :class => "col-sm-1 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :nombre, :class => "form-control", required: true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :subestacion_id, "Subestación", :class => "col-sm-1 control-label" %>
    <div class="col-sm-5">
      <%= f.collection_select :subestacion_id, Subestacion.all, :id, :to_s, {prompt: false}, {:class => "form-control"} %>
    </div>
  </div>
  <%= f.submit :value => "Guardar", :class => "btn btn-primary"%>
<% end %>
