<%= form_for(@subestacion, html: {class: "form"}) do |f| %>
  <% if @subestacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subestacion.errors.count, "error") %> prohibited this subestacion from being saved:</h2>

      <ul>
      <% @subestacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :codigo, "Código" %>
    <div class="col-lg-10">
      <%= f.text_field :codigo, :class => "form-control", required: true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :nombre %>
    <div class="col-lg-10">
      <%= f.text_field :nombre, :class => "form-control", required: true %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit :value => "Guardar", :class => "btn btn-primary"%>
  </div>
<% end %>
