<div class="page-header"><h4>Listado de subestaciones</h4></div>

<ul class="nav nav-pills">
  <%= link_to 'Nueva subestación', new_subestacion_path, :class => "btn btn-primary" %>
</ul>

<br/>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nombre</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @subestacions.each do |subestacion| %>
      <tr>
        <td><%= subestacion.codigo %></td>
        <td><%= subestacion.nombre %></td>
        <td style="width: 100px;">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Acciones
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><%= link_to 'Ver', subestacion %></li>
              <li><%= link_to 'Editar', edit_subestacion_path(subestacion) %></li>
              <li><%= link_to 'Eliminar', subestacion, method: :delete, data: { confirm: 'Estás seguro?' } %></li>
            </ul>          
          </div>
        </td>        
      </tr>
    <% end %>
  </tbody>
</table>


