<%- model_class = Subestacion -%>
<div class="page-header">
  <h4><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h4>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:codigo) %></th>
      <th><%= model_class.human_attribute_name(:nombre) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @subestacions.each do |subestacion| %>
      <tr>
        <td><%= link_to subestacion.id, subestacion_path(subestacion) %></td>
        <td><%= subestacion.codigo %></td>
        <td><%= subestacion.nombre %></td>
        <td><%=l subestacion.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_subestacion_path(subestacion), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      subestacion_path(subestacion),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),new_subestacion_path,:class => 'btn btn-primary' %>
