<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @subestacion.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @subestacion.nombre %>
</p>

<%= link_to 'Edit', edit_subestacion_path(@subestacion) %> |
<%= link_to 'Back', subestacions_path %>
