<%= form_for(@medidor) do |f| %>
  <% if @medidor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medidor.errors.count, "error") %> prohibited this medidor from being saved:</h2>

      <ul>
      <% @medidor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :numero, "Número" %>
    <div class="col-lg-2">
      <%= f.number_field :numero, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :nombre %>
    <div class="col-lg-4">
      <%= f.text_field :nombre, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :novedades %>
    <div class="col-lg-5">
      <%= f.text_field :novedades, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :novedades_criticas, "Novedades críticas" %>
    <div class="col-lg-7">
      <%= f.text_field :novedades_criticas, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :latitud %>
    <div class="col-lg-4">
      <%= f.text_field :latitud, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :longitud %>
    <div class="col-lg-4">
      <%= f.text_field :longitud, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :cliente_id, "Usuario" %>
    <div class="col-lg-5">
      <%= f.collection_select :cliente_id, Cliente.all, :id, :to_s, {prompt: false}, {:class => "form-control"} %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit :value => "Guardar", :class => "btn btn-primary"%>
  </div>
<% end %>
