<div class="page-header">
  <%= link_to medidors_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <%= link_to edit_medidor_path(@medidor), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h4>Medidor</h4>
</div>

<dl class="dl-horizontal">
  <dt>Número:</dt>
  <dd><%= @medidor.numero %></dd>

  <dt>Nombre:</dt>
  <dd><%= @medidor.nombre %></dd>

  <dt>Novedades:</dt>
  <dd><%= @medidor.novedades %></dd>

  <dt>Novedades críticas:</dt>
  <dd><%= @medidor.novedades_criticas %></dd>

  <dt>Latitud:</dt>
  <dd><%= @medidor.latitud %></dd>

  <dt>Longitud:</dt>
  <dd><%= @medidor.longitud %></dd>

  <dt>Cliente:</dt>
  <dd><%= @medidor.cliente %></dd>
</dl>