<div class="page-header">
  <%= link_to medidors_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <%= link_to edit_medidor_path(@medidor), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h4>Medidor</h4>
</div>

<div id="medidor-show"></div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><strong>Datos del medidor</strong></div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Número:</dt>
      <dd><%= @medidor.numero %></dd>

      <dt>Nombre:</dt>
      <dd><%= @medidor.nombre %></dd>

      <dt>Novedades:</dt>
      <dd><%= @medidor.novedades %></dd>

      <dt>Novedades críticas:</dt>
      <dd><%= @medidor.novedades_criticas %></dd>

      <dt>Latitud:</dt>
      <dd><%= @medidor.latitud %></dd>

      <dt>Longitud:</dt>
      <dd><%= @medidor.longitud %></dd>

      <dt>Cliente:</dt>
      <dd><%= @medidor.cliente %></dd>
    </dl>
  </div>
</div>

<script>
  $(document).on('page:load', function() {
    L.mapbox.accessToken = 'pk.eyJ1IjoibWFydGluY2hvIiwiYSI6ImZlMTY1MzUwMjQ5MGQ3YjgyY2NkYTU2MzJiZWIyMWRiIn0.Yhwbui6KvzC0JziPkwWXuQ';
    var userMap = L.mapbox.map('medidor-show', 'martincho.nb477913');
    L.mapbox.featureLayer().setGeoJSON(<%= raw @geojson.to_json %>).addTo(userMap);
  });
</script>