<%= form_for(@tomaestado, html: {class: "form-horizontal",role: "form"}) do |f| %>
  <% if @tomaestado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tomaestado.errors.count, "error") %> prohibited this tomaestado from being saved:</h2>

      <ul>
      <% @tomaestado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :dni, "DNI", :class => "col-sm-1 control-label" %>
    <div class="col-sm-2">
      <%= f.number_field :dni, :class => "form-control", required: true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :apellido, :class => "col-sm-1 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :apellido, :class => "form-control", required: true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :nombre, "Nombres", :class => "col-sm-1 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :nombre, :class => "form-control", required: true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :user_id, "Usuario", :class => "col-sm-1 control-label" %>
    <div class="col-sm-3">
      <%= f.collection_select :user_id, User.all, :id, :to_s, {prompt: false}, {:class => "form-control"} %>
    </div>
  </div>
  <%= f.submit :value => "Guardar", :class => "btn btn-primary"%>
<% end %>
