<%= form_for(@tomaestado, html: {class: "form"}) do |f| %>
  <% if @tomaestado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tomaestado.errors.count, "error") %> prohibited this tomaestado from being saved:</h2>

      <ul>
      <% @tomaestado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :dni %>
    <div class="col-lg-10">
      <%= f.number_field :dni, :class => "form-control", required: true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :apellido %>
    <div class="col-lg-10">
      <%= f.text_field :apellido, :class => "form-control", required: true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :nombre %>
    <div class="col-lg-10">
      <%= f.text_field :nombre, :class => "form-control", required: true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :user_id %>
    <div class="col-lg-10">
      <%= f.text_field :user_id, :class => "form-control", required: true %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit :value => "Guardar", :class => "btn btn-primary"%>
  </div>
<% end %>
