<div class="page-header">
  <%= link_to tomaestados_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <%= link_to edit_tomaestado_path(@tomaestado), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h4>Tomaestado</h4>
</div>

<dl class="dl-horizontal">
  <dt>DNI:</dt>
  <dd><%= @tomaestado.dni %></dd>

  <dt>Apellido:</dt>
  <dd><%= @tomaestado.apellido %></dd>

  <dt>Nombre:</dt>
  <dd><%= @tomaestado.nombre %></dd>

  <dt>Usuario:</dt>
  <dd><%= @tomaestado.user %></dd>
</div>
