<div class="page-header"><h4>Tomaestado</h4></div>

<ul class="nav nav-pills">
	<%= link_to 'Editar', edit_tomaestado_path(@tomaestado), :class => "btn btn-primary" %>
	<%= link_to 'Volver', tomaestados_path, :class => "btn btn-primary" %>
</ul>

<br/>

<p>
  <strong>DNI:</strong>
  <%= @tomaestado.dni %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @tomaestado.apellido %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @tomaestado.nombre %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @tomaestado.user %>
</p>
