<% if notice != nil %>
<div class="alert alert-success"> 
    <p id="notice"><%= notice %></p>
</div>  
<% end %>

<div class="page-header"><h4>Tomaestado</h4></div>

<ul class="nav nav-pills">
	<li role="presentation"><%= link_to 'Editar', edit_tomaestado_path(@tomaestado) %></li>
	<li role="presentation"><%= link_to 'Volver', tomaestados_path %></li>
</ul>

<br/>

<p>
  <strong>DNI:</strong>
  <%= @tomaestado.dni %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @tomaestado.apellido %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @tomaestado.nombre %>
</p>
