<div class="page-header">
  <%= link_to new_seccion_tomaestado_rutum_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Asignar nueva ruta
  <% end %>
  <h4>Listado de rutas asignadas</h4>
</div>

<table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Sección</th>
        <th>Tomaestado</th>
        <th>Ruta</th>
        <th>Fecha de inicio</th>
        <th>Fecha de finalización</th>
        <th>&nbsp;</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @seccion_tomaestado_ruta) do |seccion_tomaestado_rutum| %>
        <td><%= seccion_tomaestado_rutum.seccion %></td>
        <td><%= seccion_tomaestado_rutum.tomaestado %></td>
        <td><%= seccion_tomaestado_rutum.rutum %></td>
        <td><%= seccion_tomaestado_rutum.fecha_inicio %></td>
        <td><%= seccion_tomaestado_rutum.fecha_fin %></td>
        <td style="width: 100px;">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Acciones
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><%= link_to 'Ver', seccion_tomaestado_rutum %></li>
              <li><%= link_to 'Editar', edit_seccion_tomaestado_rutum_path(seccion_tomaestado_rutum) %></li>
              <li><%= link_to 'Eliminar', seccion_tomaestado_rutum, method: :delete, data: { confirm: 'Estás seguro?' } %></li>
            </ul>          
          </div>
        </td>        
      <% end %>
    </tbody>
  </table>
