<div class="page-header">
  <%= link_to seccion_tomaestado_ruta_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <%= link_to edit_seccion_tomaestado_rutum_path(@seccion_tomaestado_rutum), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h4>Ruta asignada</h4>
</div>

<dl class="dl-horizontal">
  <dt>Sección:</dt>
  <dd><%= @seccion_tomaestado_rutum.seccion.to_s %></dd>

  <dt>Tomaestado:</dt>
  <dd><%= @seccion_tomaestado_rutum.tomaestado.to_s %></dd>

  <dt>Ruta:</dt>
  <dd><%= @seccion_tomaestado_rutum.rutum.to_s %></dd>

  <dt>Fecha de inicio:</dt>
  <dd><%= @seccion_tomaestado_rutum.fecha_inicio %></dd>

  <dt>Fecha de finalización:</dt>
  <dd><%= @seccion_tomaestado_rutum.fecha_fin %></dd>

</dl>
