<%= form_for(@rutum, html: {role: "form", class: "form-horizontal"}) do |f| %>
  <% if @rutum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rutum.errors.count, "error") %> prohibited this rutum from being saved:</h2>

      <ul>
      <% @rutum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :nombre %>
  <div class="form-group">
    <div class="col-lg-4">
      <%= f.text_field :nombre, :class => "form-control" %>
    </div>
  </div>
  <%= f.submit :value => "Guardar", :class => "btn btn-primary"%>
<% end %>
