<div class="page-header"><h4>Listado de rutas</h4></div>

<ul class="nav nav-pills">
  <%= link_to 'Nueva ruta', new_rutum_path, :class => "btn btn-primary" %>
</ul>

<br>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @ruta.each do |rutum| %>
      <tr>
        <td><%= rutum.nombre %></td>
        <td style="width: 100px;">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Acciones
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><%= link_to 'Ver', rutum %></li>
              <li><%= link_to 'Editar', edit_rutum_path(rutum) %></li>
              <li><%= link_to 'Eliminar', rutum, method: :delete, data: { confirm: 'Estás seguro?' } %></li>
            </ul>          
          </div>
        </td>                        
      </tr>
    <% end %>
  </tbody>
</table>


