<div class="page-header">
  <%= link_to ruta_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <%= link_to edit_rutum_path(@rutum), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h4>Ruta</h4>
</div>

<div id="map"></div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><strong>Datos de la ruta</strong></div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Nombre:</dt>
      <dd><%= @rutum.nombre %></dd>
    </dl>
  </div>

  <table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Medidor</th>
      <th>Cliente</th>
      <th>Latitud</th>
      <th>Longitud</th>
    </tr>
  </thead>
  <tbody>
    <% @medidores.each do |medidor| %>
      <tr>
        <td><%= medidor.nombre %></td>
        <td><%= Cliente.find(medidor.cliente_id).to_s %></td>
        <td><%= medidor.latitud %></td>
        <td><%= medidor.longitud %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>

<script>
  $(document).on('ready', function() {
    L.mapbox.accessToken = 'pk.eyJ1IjoibWFydGluY2hvIiwiYSI6ImZlMTY1MzUwMjQ5MGQ3YjgyY2NkYTU2MzJiZWIyMWRiIn0.Yhwbui6KvzC0JziPkwWXuQ';
    var userMap = L.mapbox.map('map', 'martincho.nb477913');
    var featureLayer = L.mapbox.featureLayer().setGeoJSON(<%= raw @geojson.to_json %>).addTo(userMap);
    //console.log(featureLayer);    
    //getTrailPoints(userMap);

    /*Ajusto el mapa a los marcadores*/
    /*featureLayer.on('ready', function(){
      userMap.fitBounds(featureLayer.getBounds());
    });*/

    /*featureLayer.on('layeradd', function(e) {
      var marker, popupContent, properties;
      marker = e.layer;
      properties = marker.feature.properties;
      popupContent = '<div class="popup">' + 
                      '<h3><b>' + properties.name + '</b></h3>' + 
                      '<p>' + properties.address + '</p>' + 
                     '</div>';
      return marker.bindPopup(popupContent, {
        closeButton: false,
        minWidth: 200
      });
    });

    $('article li').click(function(e) {
      var current, currentlyClickedName;
      current = $(this);
      return currentlyClickedName = current.find('h2').text();
    });*/
  });
</script>

