<!DOCTYPE html>
<html>
<head>
  <title>Sistema de Gesti贸n de Medidores</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Sistema de Gesti贸n de Medidores", index_path, :class => "navbar-brand" %>          
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <% if user_signed_in? %>
            <ul class="nav navbar-nav">
              <li class="<%= 'active' if params[:controller] == 'index' %>"><%= link_to "Inicio", index_path %>
              <li class="<%= 'active' if params[:controller] == 'subestacions' %>"><%= link_to "Subestaciones", subestacions_path %>
              <li class="<%= 'active' if params[:controller] == 'seccions' %>"><%= link_to "Secciones", seccions_path %>
              <li class="<%= 'active' if params[:controller] == 'tomaestados' %>"><%= link_to "Tomaestados", tomaestados_path %>
              <li class="<%= 'active' if params[:controller] == 'rutas' %>"><%= link_to "Rutas", ruta_path %>
              <li class="<%= 'active' if params[:controller] == 'rutas' %>"><%= link_to "Clientes", clientes_path %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                  <strong><%= current_user.email %></strong>
                  <span class="caret"></span></a>
                <ul class="dropdown-menu">                
                  <li class="dropdown-header">Cuenta</li>
                  <li><%= link_to 'Editar cuenta', edit_user_registration_path %></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Administraci贸n</li>
                  <li><%= link_to 'Administrar usuarios', edit_user_registration_path %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to "Salir", destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
            </ul>
          <% end %>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- Begin page content -->
    <div class="container">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      
      <%= yield %>

    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">Sistema de Gesti贸n de Medidores.</p>
      </div>
    </footer>

</body>
</html>
